* {
  box-sizing: border-box;
}
html {
  font-family: "Poppins";
  height: 100%;
  color: rgb(233, 237, 229);
  word-break: break-all;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e) no-repeat fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.nav {
  max-width: 1100px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #d4a5ea, #99d8e9);
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav > button {
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  background-color: #2f2f5b;
  color: rgb(222, 205, 225);
  border: solid 1px #7070a269;
  box-shadow: 2px 2px 14px #4f356b;
  transition: box-shadow ease-in 0.3s, background ease-in 0.3s;
}

.nav > button:hover {
  background-color: #2f355b;
  box-shadow: 2px 2px 14px #00b3ff34;
}

main {
  flex-grow: 1;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #2e2e56;
  border-radius: 0.8rem;
  width: 80%;
  height: 65%;
  max-width: 650px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.welcome::before,
.welcome::after {
  content: "";
  background: linear-gradient(135deg, #ff00cc, #00b3ff, #883399);
  inset: -2px;
  border-radius: inherit;
  position: absolute;
  z-index: -1;
}

.welcome::after {
  filter: blur(16px);
  opacity: 0.2;
  transition: opacity ease-in 0.3s;
}

.welcome:hover::after {
  filter: blur(16px);
  opacity: 0.5;
}

.welcome-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #d5d5e5;
}

.welcome-desc {
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
  color: #9d9dbf;
}

hr.separator {
  margin-top: 30px;
  width: 85%;
  border: none;
  border-top: dashed 2px #7070a2;
}

.start-calculator {
  width: 90%;
  padding: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #2e2e56;
  color: rgb(222, 205, 225);
  border: solid 1px #7070a269;
  box-shadow: 2px 2px 14px #3b3b6b;
  transition: box-shadow ease-in 0.3s;
}

.start-calculator:hover {
  box-shadow: 2px 2px 14px #00b3ff34;
}

/* Styling the calculator */
.calc-container {
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  padding: 25px;
  border: 1px solid rgba(103, 51, 155, 0.8);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.display-screen {
  height: 85px;
  font-size: 1.2rem;
  padding: 15px;
  border: 1px solid rgba(103, 51, 155, 0.8);
  border-radius: 0.5rem;
  background-color: #682a8621;
  color: #b2b2eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.result-container > p {
  margin: 0;
}

#result-sign {
  color: #b887d1;
}

#calc-screen-placeholder {
  text-align: center;
  color: #4a3784;
  margin: 0;
}

#expression {
  text-align: right;
  margin: 0;
}

.expression-dimmed {
  font-size: 0.9rem;
  color: #8881c7;
}

.calc-btns {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 15px;
  border: 1px solid rgba(103, 51, 155, 0.8);
  border-radius: 0.5rem;
}

.calc-btns > button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
  padding: 1.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.calc-btns > button:hover {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Visibility styling*/
.hidden {
  display: none;
  pointer-events: none;
}

.text-overflow {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

.operator,
#percent,
#clear,
#equal {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.operator:hover,
#percent:hover,
#clear:hover,
#equal:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.number,
#dot,
#delete {
  background-color: #453d91;
  color: white;
}

.number:hover,
#dot:hover,
#delete:hover {
  background-color: #3b3289;
}

#sign {
  background-color: rgba(164, 75, 197, 0.3);
  color: white;
}
#sign:hover {
  background-color: rgba(164, 75, 197, 0.4);
}
